@import "tailwindcss";

html, body {
  overflow-x: clip;
}

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "DM Sans", sans-serif;

  --color-navy: #1a2946;
  --color-navy-deep: #111c30;
  --color-navy-light: #2e4a72;
  --color-gold: #e8a021;
  --color-gold-light: #f5c05a;
}

body {
  font-family: var(--font-sans);
  background: #f0f2f5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

